.main {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

.banner {
    display: flex;
    width:100%;
    height: 300px;
    background-image: url("/resources/img/banner-loja-azul.png");
    font-family: 'Bungee', cursive;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    color:white;
}

.icon-pesquisa {
    width: 40px;
}

div.pesquisar  {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid #92d050;
}

div.pesquisar input#input-pesquisa {
    width: 100%;
    height: 3rem;
    border-radius: 20px 0 0 20px;
    border: 1px solid  black;
    margin: 15px 0;
    padding-left: 15px;
    font-family: monospace;
    font-size: 1.5rem;
}

div.pesquisar button{
    width: 50px;
    height: 50x;
    margin: 15px 0;
    border: 1px solid;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #92d050;
    cursor: pointer;
}

/* Section principal */

main.main section{
    display: flex;
}

/* Filtro */
aside.filtro {
    display: none;
    border: 1px solid black;
    width: 180px;
    vertical-align: text-top;
    margin-top: 30px;
    height: 400px;
}

.filtro h2 {
    margin: 0 15px;
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.filtro ul, .filtro h2 {
    font-family: sans-serif;
}

.filtro ul li{
    margin: 10px 15px;
}

/* Secition dos produtos */

section.exposicao {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    vertical-align: text-top;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
section.exposicao a{
    display: inline-block;
    width: 150px;
    vertical-align: top;
    margin: 30px 10px;
    text-decoration: none;
}

div.produto {
    width: 150px;
    height:200px;
    border: 1px solid black;
    display: inline-block;
    vertical-align:top;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

aside.anuncio {
    display: none;
    border: black 1px solid;
    width: 160px;
    height:600px;
    margin-top: 30px;
}

.preco {
    text-align: center;
    font-family: sans-serif;
    background-color: #92d050;
    padding: 5px 0;
    font-size: 1rem;
    border-top: 1px solid black;
}

div.produto p.descricao {
    padding: 5px 10px;
    text-align: center;
    background-color: rgb(197, 197, 197);
    font-family: sans-serif;
}

.menu-catalogo {
    display: flex;
    flex-wrap: wrap;
}

div.opcao {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    height: 50px;
    border: 1px solid;
    line-height: 50px;
    font-weight: bold;
}

.verde {
    background-color: #92d050;
}

/*Medias Query */
@media screen and (min-width: 1025px) {
     /* Filtro */
    aside.filtro, aside.anuncio {
        display: inline-block;
    }
    div.pesquisar  {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    section.exposicao {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    div.opcao{
        width: 16.66666667% !important;
    }
}

@media screen and (max-width: 1024px) {
    div.pesquisar  {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    div.opcao{
        width: 16.66666667% !important;
    }
}

@media screen and (max-width: 768px) {
    div.pesquisar  {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    div.opcao{
        width: 16.66666667% !important;
    }
    
}
@media screen and (max-width: 480px) {
    main.main section.section div.menu {
        display: flex;
        flex-wrap: wrap;
    }
    div.pesquisar  {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    div.opcao{
        width: 33.3333337% !important;
    }
}