.box-video {
    max-height: calc(100vh - 70px);
    overflow: hidden;
}

.video {
    width: 100%;
}

.section {
    min-height: calc(175vh - 140px);
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
    box-sizing: border-box;
}

.section h1 {
    color: #92d050;
    font-family: 'Bungee', cursive;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-bottom: 50px;
}

.section h1, .section h2 {
    text-align: center;
}
.section h2 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.caixa {
    background-color: #92d050;
    /* flex: 1; */
    border-radius: 50px;
    border: solid 2px pink;
}

.caixa img {
    width: 250px;
    border-radius: 50px;
    margin: 20px;
    border: solid 2px pink;

}

.meio {
    margin-left: 50px;
    margin-right: 50px;
}

/* --------- */

.menu img {
    margin: 0 auto;
    width: 200px;
    border-radius: 35px;
    
}

.menu a {
    text-decoration: none;
    color: black;

}

.menu a:hover {
    color: white;
}

.background-icon{
    width: 300px;
    background-color: #70be1c;
    border-radius: 35px;
    margin-bottom: 60px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.background-icon span p{
    font-family: 'Bungee', cursive;
    text-align: center;
    margin: 10px 0;
    font-size: 1.5rem;
}

/*Medias Query */

@media screen and (min-width: 1025px) {
    /* Filtro */
}
@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 480px) {
    main.main section.section div.menu {
        display: flex;
        flex-wrap: wrap;
    }
}