section{ 
  padding-top: 140px;
  padding-bottom: 70px;
  background-color: black;
  height: 100vh;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

section div.texto{
  box-sizing: border-box ;
  width: 55%;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 50px;
  color: white;
}

section figure.imagem {
  box-sizing: border-box;
  width: 45% ;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 15px 15px 15px 0;
  flex-direction: column;
}

section figure.imagem img, figcaption{
  width: 88.9017341%;
  margin-left: auto;
  margin-right: auto;
}

section figure.imagem img {
  border-radius: 15px 15px 0 0;
}

figcaption {
  padding: 8px;
  border: solid 1px black;
  font-size: 1.3rem;
}

section div.texto h1 {
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 50px;
}

section div.texto h2{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
}

section div.texto p{
  font-size: 1.45rem;
  font-family: 'Times New Roman', Times, serif !important;
  margin-top: 10px;
  line-height: 28px;
}

main section.section2 div.texto{
  padding-left: 50px !important;
  padding-right: 0px !important;
}

main section.section2 {
  flex-wrap: wrap-reverse !important;
  padding-top: 70px !important;
}

@media screen and (max-width: 768px) {
  section{
    height: auto;
  }
  main section div.texto{
    width: 100%;
    padding-left: 30px;
  }
  main section figure.imagem{
    width: 85%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  main section.section2 {
    padding-top: 30px !important;
  }
}