a.navbar-brand h1 img.logo {
    width: 10rem;
}


@media screen and (max-width: 1023px) {
    body{
        box-sizing: border-box;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (max-width: 767px) {
    body{
        box-sizing: border-box;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 479px) {
    body{
        box-sizing: border-box;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}