/* Configuração Padrão da largura da parte principal da tela */
main{min-height: calc(100vh);}

header.cabecalho {
    z-index: 1000;
}

.container-fluid {
    padding: 0px;
}

/* Tamanho da Logo */
a.navbar-brand h1 img.logo {
    margin: 0 !important;
    padding: 0 !important;
    width: 14rem !important;
}
/* Barra de navegação */
header nav.navbar{
    height: 70px;
    position: fixed;
    width: 100%;
    border-bottom: solid 2px #92d050;
    z-index: 10000;
}

.nav-menu{
    height: calc(100vh - 106.38px);
    justify-content: space-evenly;
    align-items: center;

}

/* Itens do menu da barra de navegção */
.nav-menu li.nav-item{
    display: inline-block;
    color: #707070;
    text-decoration: none;
    font-family: "myriad-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;

}

.nav-menu li.nav-item:hover, div.minha-conta:hover {
   background-color: #cecbcb;
}

div.minha-conta {
    display: flex;
    font-family: "myriad-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    align-items: center;
    width: auto;
    padding: 8px;
}

div.minha-conta i img {
    width: 1.3rem;
}

div.minha-conta i {
    margin-right: 5px;
    display: flex;
}

div.minha-conta a{
    display: flex;
    color: #707070;
    text-decoration: none;
}

div.minha-conta a:hover{
    color: #000000cc;
}

/* Footer - Rodapé*/

.footer {
    width: 100%;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #90d050;
    border-top: solid 2px black;
    flex-wrap: wrap;
}


footer.footer div.box1 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

footer.footer div.box1 h3{
    font-family: Arial, Helvetica, sans-serif;
}

nav.mapa-do-site ul.menu-mapa li {
    border-bottom: 1px solid #707070;
    margin-bottom: 1.5rem;
}

nav.mapa-do-site ul.menu-mapa li a, .lista-redes-socias li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: inline-block;
}

.box1, .box2, .box3 {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    border-left: 2px white dotted;
}

footer.footer div.box1 h2.razao-social {
    margin-top: 0;}

div.box2 h2, div.box3 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
}

div.box3 li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.icon {
    width: 2rem;
    display: inline-block;
    padding-right: .5rem;
}

div.copyright p{
    font-family: sans-serif;
    text-align: center;
    padding: .5rem 6rem;
    background-color: black;
    color: white;
}

/* Media  */

@media screen and (min-width: 1025px) {
    header nav.navbar{
        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }
    section{
        box-sizing: border-box;
        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }
    footer{
        box-sizing: border-box;
        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }
    body{
        /* background-color: purple; */
    }
}

@media screen and (max-width: 1024px) {
    header nav.navbar{
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    section{
        box-sizing: border-box;
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    footer{
        box-sizing: border-box;
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    body{
        /* background-color: yellow; */
    }
}

@media screen and (max-width: 768px) {
    header nav.navbar{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    section{
        box-sizing: border-box;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    footer{
        text-align: center;
        display: block !important;
        width: 100%;
        box-sizing: border-box;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        font-size: 1.3rem;
    }

    .box1, .box2, .box3  {
        width: 100% !important;
        display: block;
        padding-bottom: 30px;
    }
    

    .navbar-collapse{ 
        background-color: white !important;
        padding-left: 0 !important;
        padding-right: 0 !important;  
    }
    .nav-menu li.nav-item{
        border-bottom: solid 1px #000000cc;
    }
}


@media screen and (max-width: 480px) {
    header nav.navbar div.container-fluid a.navbar-brand h1 img.logo {
        margin-left: 1rem !important;
    }

    header nav.navbar div.container-fluid button.navbar-toggler{
        margin-right: 1rem !important;
    }

    header nav.navbar{
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
    section{
        box-sizing: border-box;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    section.exposicao {
        width: 100% !important;
    }
    footer{
        text-align: center;
        display: block !important;
        width: 100%;
        box-sizing: border-box;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        font-size: 1.3rem;
    }
    .box1, .box2, .box3  {
        width: 100% !important;
        display: block;
        padding-bottom: 30px;
    }
    .box3 ul li{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    body{
        /* background-color: pink; */
    }

    a.navbar-brand h1 img.logo {
        width: 14rem;
    }

    .nav-menu li.nav-item{
        border-bottom: solid 1px #000000cc;
    }
}   