header {
    position: fixed;
    width: 100%;
}

a.navbar-brand h1 img.logo {
    width: 10rem;
}


@media screen and (max-width: 1024px) {
    body{
        box-sizing: border-box;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (max-width: 768px) {
    body{
        box-sizing: border-box;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: red;
    }
}
@media screen and (max-width: 480px) {
    body{
        box-sizing: border-box;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: pink;
    }

    a.navbar-brand h1 img.logo {
        width: 11rem;
    }
}